.App {
  width: 700px;
  /* min-height: 100vh; */
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2rem;
}

